table {
  border: 1px black solid;
}

#background {
  background-image: url("./g974.png");
  background-size: cover;
  background-position: center;
}

#outer-table {
  height: 400px;
  width: 869px;
  margin: 0 auto;
  position: relative;
}

#table-price {
  position: absolute;
  right: 5%;
  top: 8%;
}

#table-names {
  position: absolute;
  top: 22%;
  width: 60%;
  left: 4%;
}

#table-website {
  position: absolute;
  bottom: 6%;
  left: 8%;
}

#table-expiry {
  position: absolute;
  bottom: 6%;
  left: 39%
}

#table-giftcard {
  position: absolute;
  bottom: 6%;
  right: 8%;
}

.cell-bottom {
  background-color: aquamarine;
  width: 150px;
}

#cell-price {
  font-size: 65px;
}