table {
  border: 1px black solid;
}

tr {
  height: 50px;
  border: 1px red solid;
}

td {
  border: 1px blue solid;
}

#background {
  background-image: url("https://placekitten.com/g/200/300");
  background-size: cover;
  height: 500px;
  width: auto;
}