table {
  border: 1px black solid;
}

tr {
  border: 1px red solid;
}

td {
  border: 1px blue solid;
}

#background {
  background-image: url("./g974.png");
  background-size: cover;
  background-position: center;
}

#outer-table {
  height: 400px;
  width: 800px;
  margin: 0 auto;
  position: relative;
}

#table-price {
  position: absolute;
  right: 10%;
  top: 10%;
}

#table-names {
  position: absolute;
  top: 22%;
  width: 60%;
}

